body{
	background:url(06.jpg);
	/*background-repeat: no-repeat;
	background-size: 100% 100%;*/
	font-family: 'Dancing Script', cursive;
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0;
	padding: 0;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;

}
.foto{

	 	width: 300px;
	 	height: 300px;
	 	border-radius: 50%;
}
img{
	width: 200px;
	height: 200px;
	margin: 10px;
	border-radius: 50%; 

}
 header{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

 }
 p{ 
 	background-color: #fff;
 	font-size: 2.0em;
 	color:#E62B86;
}
h1{
	background-color: #fff;
	color:#E62B86;
}
 section {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	flex-wrap: wrap;
 	background-color: #fff;
 	width: 900px;
 	height: 900px;
 }
 footer{
 	background-color: #fff;
 	display:flex;
 	justify-content: center;
 	align-items: center;
 	flex-flow: wrap;
 	text-align: center;
 }
 
 main section img {
 	display: flex;
	transition: opacity 2s, transform 1s;
 }

 main section img:hover {
 	transform: scale(1.5);
}



